body {
    font: "Times New Roman", serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    top: 15%;
    background: linear-gradient(to right, #2C2735, #440D0F);
    
    
    /* Standard syntax */
  }
img {
    max-width: 100%;
    height: auto;
    background-color: #781832;
    background: radial-gradient(#440D0F 30%, #781832 70%);

}
h1 {
    color: white;
}


#cart_count{
    text-align:center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;

}
p {
    font-family: "Times New Roman", Times, serif;
  }

